:global(.vtex-store-components-3-x-productImage) > div > div{
  font-size: initial!important;
}

.wrapper{
  background: #feffec;
  margin-bottom: 14px;
  margin-top: 18px;
  width: fit-content;
}
.paragraph{
  margin: 0;
  font-size: 14px;
}

.asterisco{
  color: red;
  font-weight: 700;
}

@media(max-width: 1024px){
  .wrapper{
    padding: 5px 10px;
    margin: 0 10px;
  }
}
