.wrapper{
  background: #FAFAFA;
  margin-bottom: 14px;
}
.paragraph{
  margin: 0;
  font-size: 14px;
}

.asterisco{
  color: red;
  font-weight: 700;
}

@media(max-width: 1024px){
  .wrapper{
    padding: 5px 10px;
    margin: 0 10px;
  }
}
