.stackItem--stack-summary{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  z-index: 998!important;
  .stackContainer--stack-summary{
    position: relative;
    overflow: hidden;
  }
}

.stackItem--stack-summary--quickview {
  height: fit-content;
  bottom: 10px;
  max-width: 130px;
  top: auto;
  text-align: center;
  min-width: 130px;
  background: rgba(255,255,255,.3);
  padding: 4px 8px;
  border-radius: 0;
  border: 1px solid #666;
  left: 50%;
  transform: translateX(-50%);

  @media(max-width: 1024px){
    z-index: 9!important;
  }

  @media(min-width: 1024px){
    z-index: 998!important;
  }

  &:hover{
    background: black!important;
    :global(.vtex-rich-text-0-x-paragraph){
      color: white;
    }
  }
}


:global(.vtex-input-prefix__group){
  border-radius: 0px;
  :global(.vtex-styleguide-9-x-input){
    border-radius: 0px;
  }
}
