@import './variables';

.minicartTitle{
  font-weight: 500;
}

.minicartContainer{
  .openIconContainer{
    padding: 0;
    @media(max-width: 1024px){
      margin-left: 15px;
    }
  }
  :global(.vtex-button){
    background-color: transparent;
    height: 46px;
    &:hover{
      background: rgba(255,255,255,.1);
    }
    :global(.vtex-button__label){
      padding-left: 0;
      padding-right: 10px;
      display: flex;
      .minicartIconContainer{
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.152 4.12096C21.0983 4.04129 21.0257 3.97636 20.9409 3.93202C20.856 3.88767 20.7616 3.8653 20.666 3.86692H4.10602C3.94402 2.21571 3.80002 0.963698 3.80002 0.927408C3.78227 0.771848 3.70814 0.628382 3.59186 0.524561C3.47558 0.420739 3.32535 0.363882 3.17002 0.364908H1.37002C1.27962 0.349336 1.18693 0.353849 1.09844 0.378133C1.00994 0.402416 0.927778 0.445884 0.857678 0.505499C0.787578 0.565114 0.731235 0.639439 0.692585 0.723282C0.653935 0.807125 0.633911 0.898462 0.633911 0.990915C0.633911 1.08337 0.653935 1.17471 0.692585 1.25855C0.731235 1.34239 0.787578 1.41672 0.857678 1.47633C0.927778 1.53595 1.00994 1.57941 1.09844 1.6037C1.18693 1.62798 1.27962 1.6325 1.37002 1.61692H2.64802C2.86402 3.7762 3.60202 11.1613 3.78202 12.504C3.96202 13.8468 4.35802 15.0625 6.10402 15.3528C5.79734 15.5705 5.54612 15.8582 5.37092 16.1925C5.19572 16.5268 5.10152 16.8982 5.09602 17.2762C5.09602 17.9162 5.34824 18.5301 5.79721 18.9827C6.24617 19.4352 6.85509 19.6895 7.49002 19.6895C8.12495 19.6895 8.73387 19.4352 9.18283 18.9827C9.63179 18.5301 9.88402 17.9162 9.88402 17.2762C9.88558 16.6448 9.63975 16.0383 9.20002 15.5887L11.504 15.7701L13.79 15.9697C13.5301 16.3492 13.3861 16.7971 13.376 17.2581C13.376 17.8981 13.6282 18.5119 14.0772 18.9645C14.5262 19.4171 15.1351 19.6714 15.77 19.6714C16.4049 19.6714 17.0139 19.4171 17.4628 18.9645C17.9118 18.5119 18.164 17.8981 18.164 17.2581C18.1589 16.7295 17.9791 16.2177 17.6531 15.8036C17.3271 15.3895 16.8735 15.0968 16.364 14.9718C16.2746 14.9034 16.1692 14.8597 16.058 14.8447C15.284 14.8447 13.43 14.6633 11.558 14.5C9.68602 14.3367 7.50802 14.1734 6.66202 14.1371C5.49202 14.1371 5.13202 13.7016 4.86202 12.3226L18.938 11.9597C19.0751 11.9595 19.2082 11.9129 19.316 11.8273C19.4237 11.7418 19.4998 11.6222 19.532 11.4879L21.332 4.59273C21.3356 4.50586 21.3215 4.41916 21.2906 4.33801C21.2596 4.25686 21.2125 4.18298 21.152 4.12096V4.12096ZM15.752 18.3831C15.4513 18.3831 15.1628 18.2626 14.9502 18.0482C14.7375 17.8339 14.618 17.5431 14.618 17.2399C14.6179 16.9381 14.7343 16.6481 14.9426 16.4313C15.1509 16.2145 15.4348 16.088 15.734 16.0786V16.0786C16.0125 16.1139 16.2686 16.2505 16.4542 16.4626C16.6399 16.6748 16.7423 16.9479 16.7423 17.2308C16.7423 17.5137 16.6399 17.7869 16.4542 17.9991C16.2686 18.2112 16.0125 18.3478 15.734 18.3831H15.752ZM7.40002 18.3831C7.17068 18.3866 6.9455 18.3211 6.75332 18.1949C6.56114 18.0687 6.41071 17.8875 6.3213 17.6746C6.23188 17.4617 6.20756 17.2267 6.25143 16.9998C6.29531 16.7728 6.40539 16.5642 6.56757 16.4007C6.72976 16.2373 6.93667 16.1263 7.1618 16.0821C7.38693 16.0378 7.62003 16.0624 7.83125 16.1525C8.04247 16.2426 8.22219 16.3943 8.34739 16.588C8.47259 16.7817 8.53758 17.0087 8.53402 17.2399C8.53402 17.39 8.50469 17.5387 8.4477 17.6774C8.39071 17.8161 8.30718 17.9421 8.20188 18.0482C8.09658 18.1544 7.97157 18.2386 7.83398 18.296C7.6964 18.3535 7.54894 18.3831 7.40002 18.3831ZM18.38 10.7621L4.79002 11.0343C4.79002 10.381 4.62802 9.58265 4.53802 8.71168H9.57802C9.75629 8.70695 9.92568 8.63222 10.0501 8.50342C10.1745 8.37462 10.2441 8.20194 10.244 8.02217C10.244 7.84411 10.1739 7.67334 10.049 7.54743C9.92405 7.42153 9.75465 7.35079 9.57802 7.35079H4.44802L4.23202 5.13708H19.856L18.38 10.7621Z' fill='black'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: $topBarIconWidth;
        height: $topBarIconHeight;
        .cartIcon{
          display: none;
        }
        .minicartQuantityBadge{
          height: 14px;
          width: 13px;
          font-size: 11px;
          line-height: 10px;
          background: $secondaryColor;
          color: white;
          font-weight: 700;
          @media(min-width: 1025px){
            top: -5px;
            right: -10px;
          }
        }
        @media(max-width: 1024px){
          width: 26px;
          height: 26px;
          .minicartQuantityBadge{
            width: 14px!important;
            height: 14px!important;
            font-size: 10px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.minicartProductListContainer--minicart-product-list{
  :global(.vtex-flex-layout-0-x-flexRowContent){
    align-items: center;
  }
}

.closeIcon{
  color: black;
}

.minicartCheckoutButton{
  :global(.vtex-button){
    background-color: black;
    border-radius: $radius;
    height: 50px;
  }
}
