///////// DEALS
.triggerContainer{
  cursor: pointer;
  position: relative;
}
.paper{
  &.paper--deals{
    max-width: 768px;
    padding-bottom: 15px;
  }
}

.container--desktop-search{
  .paper{
    width: 80vw;
    margin-top: -75vh;
    &.paperNotFullScreen{
      background: transparent;
    }
  }
}

.triggerContainer--quickview{

}
